/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
	 margin: 0;
	 padding: 0;
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
	/* outline: 3px solid blueviolet;
	 */
}
 body {
	 font-family: "Montserrat", sans-serif;
	 background-color: #ffece9;
	 background: url("images/japan-min.jpg") center/cover no-repeat;
	 background-attachment: fixed;
}
 @media (min-width: 1024px) {
	 body {
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 60% 60%;
	}
}
 .retro-text {
	 font-weight: 900;
	 font-size: 15rem;
	 line-height: 0.65;
	 background: url("images/japan-min.jpg") center/cover no-repeat fixed;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 background-clip: text;
	 color: transparent;
}
 @media (min-width: 1024px) {
	 .retro-text {
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 60% 60%;
	}
}
 .here {
	 background-color: #fcae05;
	 color: #2f2f2f;
	/* deep charcoal gray */
	 letter-spacing: 0.05em;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: start;
	     -ms-flex-align: start;
	         align-items: flex-start;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 -webkit-box-pack: end;
	     -ms-flex-pack: end;
	         justify-content: flex-end;
}
 .info {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 gap: 30px;
	 color: #333;
	 font-size: 0.9rem;
	 line-height: 1.3;
	 margin-left: 20px;
}
 .info span:nth-child(1) {
	 margin-top: 60px;
}
 .info span:nth-child(2) {
	 margin-top: 50px;
}
 .info span:nth-child(3) {
	 margin-top: 40px;
}
 .info span:nth-child(4) {
	 margin-top: 40px;
}
 .info span:nth-child(5) {
	 margin-top: 50px;
}
 header {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	     -ms-flex-pack: justify;
	         justify-content: space-between;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 width: 100%;
	 padding: 25px;
}
 header img {
	 width: 50px;
	 height: 50px;
}
 header nav {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 text-decoration: none;
	 list-style: none;
	 gap: 30px;
	 font-family: 1.4rem;
}
 header nav li a {
	 text-decoration: none;
	 color: black;
}
 .lower-test {
	 height: 50vh;
}
 .hamburger {
	 display: none;
	 cursor: pointer;
}
 .hamburger .line {
	 width: 25px;
	 height: 1px;
	 background-color: black;
	 display: block;
	 margin: 7px auto;
	 -webkit-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
}
 .hamburger-active {
	 -webkit-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
	 -webkit-transition-delay: 0.6s;
	      -o-transition-delay: 0.6s;
	         transition-delay: 0.6s;
	 -webkit-transform: rotate(45deg);
	     -ms-transform: rotate(45deg);
	         transform: rotate(45deg);
}
 .hamburger-active .line:nth-child(2) {
	 width: 0px;
}
 .hamburger-active .line:nth-child(1), .hamburger-active .line:nth-child(3) {
	 -webkit-transition-delay: 0.3s;
	      -o-transition-delay: 0.3s;
	         transition-delay: 0.3s;
}
 .hamburger-active .line:nth-child(1) {
	 -webkit-transform: translateY(12px);
	     -ms-transform: translateY(12px);
	         transform: translateY(12px);
}
 .hamburger-active .line:nth-child(3) {
	 -webkit-transform: translateY(-5px) rotate(90deg);
	     -ms-transform: translateY(-5px) rotate(90deg);
	         transform: translateY(-5px) rotate(90deg);
}
 .menubar {
	 position: fixed;
	 top: 0;
	 left: -60%;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: start;
	     -ms-flex-align: start;
	         align-items: flex-start;
	 width: 60%;
	 height: 100vh;
	 padding: 20% 0;
	 background: orange;
	 -webkit-transition: all 0.5s ease-in;
	 -o-transition: all 0.5s ease-in;
	 transition: all 0.5s ease-in;
	 z-index: 1000;
}
 .active {
	 left: 0;
	 -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 .menubar ul {
	 padding: 0;
	 list-style: none;
}
 .menubar ul li {
	 margin-bottom: 32px;
}
 .menubar ul li a {
	 text-decoration: none;
	 color: white;
	 font-size: 95%;
	 font-weight: 400;
	 padding: 5px 10px;
	 border-radius: 5px;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
}
 .menubar ul li a:hover {
	 background-color: black;
	 -webkit-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
}
 @media screen and (max-width: 790px) {
	 .hamburger {
		 display: block;
	}
	 nav li {
		 display: none;
	}
}
 